fastapi == 0.118.0
uvicorn[standard] == 0.37.0
python-multipart == 0.0.20
pydantic-settings == 2.11.0
aiofiles == 24.1.0
langchain == 0.3.27
PyMuPDF == 1.26.5
langchain-community == 0.3.31
motor == 3.7.1
pydantic-mongo == 3.1.0
openai == 2.8.1
cohere == 5.20.0
google-generativeai == 0.8.5
qdrant-client == 1.16.1
